@font-face {
    font-family: "Staatliches";
    src: url(Staatliches.ttf);
}
@font-face {
    font-family: "Manrope";
    src: url(Manrope.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Manrope", sans-serif;
    background-color: #151514;
    color: #ddd;
    margin: 0;
    overflow-x: hidden !important;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

/*Header*/

header {
    font-family: "Staatliches", sans-serif;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: all 0.5s ease;
    background-color: #151514;
    color: #ddd;
}
header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
    
}
header .logo img{
    width: 350px;
    height: auto;
}
header .hamburger {
    cursor: pointer;
}
header .hamburger img{
    width: 40px;
    height: auto;
}
nav {
    transition: all 0.4s ease;
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li a{
    text-decoration: none;
}
.nav-menu {
    align-items: center;
    flex-direction: column;
    display: none;
    width: 200px;
    top: 65px;
    position: absolute;
    right: 0;
    background-color: #151514;
    z-index: 1000;
    padding: 10px 20px;
}
.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
}
.nav-menu ul li {
    margin: 10px 0;
    text-align: center;
    font-family: "Staatliches", sans-serif;
    font-size: 20px;
}
.nav-menu ul li a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
}
.nav-menu.show{
    display: flex;
}

@media only screen and (max-width: 480px) {
    header .logo img{
        width: 275px;
        height: auto;
    }   
}

/*Testimonials*/

.testimonials {
    background-color: #ece8da;
    color: #151514;
}
.testimonials .wrapper{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.testimonials .testimonials-left{
    flex: 1;
    position: relative;
    margin-left: 20px;
}
.testimonials .testimonials-right{
    display: flex;
    max-width: 550px;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px; margin-right: 20px;
}
.testimonials .testimonials-right p{
    font-family: "Staatliches", sans-serif;
    font-size: 64px;
    color: #151514;
    margin: 0;
}
.testimonials .testimonials-right .bar{
    width: 225px;
    height: 5px;
    background-color: #151514;
    margin-bottom: 30px;
}
.testimonials .testimonials-right .features{
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}

.slideshow {
  position: relative;
  max-width: 595px;
  height: 900px;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
  animation: slide-animation 18s ease-in-out infinite;
}

.slides img {
  max-width: 595px;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
}

@keyframes slide-animation {
  0%, 15% { transform: translateX(0); }
  20%, 35% { transform: translateX(-100%); }
  40%, 55% { transform: translateX(-200%); }
  60%, 75% { transform: translateX(-300%); }
  80%, 95% { transform: translateX(-400%); }
  100% { transform: translateX(0); }
}

@media only screen and (max-width: 1000px) {
    .testimonials .wrapper{
        flex-direction: column;
        align-items: center;
    }
    .testimonials .testimonials-right{
        order: -1;
        max-width: 550px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .slideshow {
        margin-right: 20px;
    }
    .slides img{
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 600px) {
    .testimonials-left {
        margin-bottom: 20px
    }
    .slideshow{
        width: calc(100% - 20px);
        aspect-ratio: 595 / 900;
        height: auto;
    }
    .slides img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/*Forms*/

.submission {
    height: 100vh;
}

.submission p {
    font-family: "Staatliches", sans-serif;
    font-size: 64px;
    color: #268d7b;
    border-bottom: #268d7b 5px solid;
    max-width: 150px;
    margin: 20px;
    margin-top: 50px;
}

.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="number"],
input[type="url"],
input[type="email"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.radio-group, .checkbox-group {
    margin-top: 5px;
}
.radio-group label, .checkbox-group label {
    font-weight: normal;
    display: inline;
    margin-left: 5px;
}
.error {
    color: rgb(114, 114, 114);
    font-size: 0.9em;
    margin-top: 5px;
}

.button-wrapper{
    display: flex;
    width: calc(100% - 20px);
    margin-left: 20px;
    justify-content: flex-end;
}

button {
    background-color: #268d7b;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    float: right;
    margin-right: 20px; margin-bottom: 20px;
}
button:hover {
    background-color: #74c5b6;
}
.required:after {
    content: " *";
    color: rgb(85, 85, 85);
}

.form {
    display: flex;
    justify-content: center;
}

.left, .right {
    width: 600px;
    margin: 20px;
}

.radios{
    display: flex;
    justify-content: space-between;
}

.transferee-checkbox-group {
    display: flex;
}
.transferee-checkbox-group .checkbox-group{
    margin-right: 20px;
}

.section-choices{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.section-choices .section-group{
    margin-right: 10px;
}

.section-choices .section-group:last-child{
    margin-right: 0;
}

@media only screen and (max-width: 850px) {
    .submission {
        height: auto;
    }
    .submission p {
        font-size: 48px;
    }
    .form {
        flex-direction: column;
    }
    .left, .right {
        width: calc(100% - 40px);
        margin-top: 0;
    }
}
@media only screen and (max-width: 600px) {
    .section-choices{
        flex-direction: column;
    }
    .section-choices .section-group{
        margin-right: 0;
    }
}
@media only screen and (max-width: 420px) {
    .radios{
        flex-direction: column;
    }
}

/*Recent Releases*/
.releases .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.releases p {
    font-family: "Staatliches", sans-serif;
    font-size: 64px;
    color: #268d7b;
    margin: 20px;
    margin-top: 50px;
}
.releases .bar {
    width: 225px;
    height: 5px;
    background-color: #268d7b;
    margin-bottom: 30px;
}
.releases-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.releases-card{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 25px 20px 25px;
}
.releases-card img {
    width: 320px;
    height: auto;
    transition: all 0.3s ease;
}
.releases-card img:hover{
    scale: 1.05;
}
.releases-card p{
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    margin-top: 15px;
    color: #fff;
}

/*Footer*/
footer {
    background-color: #000;
    color: white;
    padding: 40px 0;
}

footer.wrapper {
    max-width: 1000px;
    margin: 1 auto;
    text-align: center;
}

/* Center Top Section */
.footer-top {
    display: flex;
    align-items: left;
    text-align: left;
}

.thebenildean-logo img {
    width: 300px;
    height: 42px;
}

/* Socials Section */
.socials {
    margin-top: 10px;
    position: relative;
    right: -38.5%;
}

.socials-header {
    font-weight: bold;
    margin-bottom: 8px;
}
.logo-subtext{
    width: 500px;
    margin-top: 30px;
}

.socials-body {
    display: flex;
    align-items: left;
    justify-content: left;
    column-gap: 10px;
    flex-wrap: wrap;
    width: 265px;
}

.socials-body img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
.socials-body-text{
    position: relative;
    top: -13px;
}

/* Separator Line */
.footer-bottom {
    border-top: 1px solid #fff;
    margin-top: 15px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Bottom Section Layout */
.footer-bottom-address {
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: left;
    max-width: 700px;
}
.footer-bottom2{
    transform: translateX(-60px);
}

.footer-bottom-address .icon img {
    width: 48px;
    height: 48px;
}

.footer-bottom-address .text {
    font-size: 14px;
    line-height: 1.5;
    max-width: 300px;
}

.footer-copyright {
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
    opacity: 0.7;
}

.nav-container-mobile{
    display: none;
}

@media only screen and (max-width: 1366px) {
    footer .wrapper{
        max-width: 850px;
    }
    footer .footer-bottom .footer-bottom2{
        transform: translateX(0px);
    }
    .socials{
        right: -13%;
    }
}

@media only screen and (max-width: 900px) {
    footer .wrapper{
        width: 700px;
    }
    .logo-subtext{
        width: 700px;
    }
    .socials{
        top: -30px;
        right: 20%;
    }
    .socials-body-text{
        display: none;
    }
    .footer-bottom{
        flex-direction: column;
        align-items: left;
        text-align: left;
        margin-top: 30px;
    }
    .footer-bottom-address{
        align-items: left;
        text-align: left;
        margin-bottom: 15px;
        margin-top: 20px;
    }
    .footer-bottom-address .icon img{
        width: 32px;
        height: 32px;
    }
    .footer-bottom-address .text{
        max-width: 500px;
        font-size: 14px;
    }
    .socials-body{
        gap: 5px;
    }
}
@media (max-width: 768px) {
    footer .wrapper{
        width: 550px;
    }
    .logo-subtext{
        width: 510px;
    }
    .socials{
        top:-35px;
        scale: 0.9;
        right: 17%;
    }
}
@media (max-width: 600px) {
    footer .wrapper{
        width: 450px;
    }
    .thebenildean-logo img {
        width: 250px;
        height: auto;
    }
    .logo-subtext{
        width: 450px;
        font-size: 14px;
    }
    .socials{
        right: 30%;
        scale: 0.8;
    }
}
@media (max-width: 480px) {
    footer .wrapper{
        width: 350px;
    }
    .thebenildean-logo img {
        width: 200px;
        height: auto;
        transform: translateY(10px);
    }
    .logo-subtext{
        width: 350px;
    }
    .socials{
        right: 40%;
        scale: 0.7;
    }
}
@media (max-width: 380px){
    footer .wrapper{
        width: 340px;
    }
    .socials{
        right: 44%;
        scale: 0.7;
    }
}